@import "tailwindcss";

@theme {
  --font-sans: "Space Grotesk", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: #13ec92;
  --color-background-light: #f6f8f7;
  --color-background-dark: #10221a;
}

@layer base {
  body {
    @apply bg-background-light dark:bg-background-dark text-slate-900 dark:text-white min-h-screen;
    font-family: "Space Grotesk", sans-serif;
    overscroll-behavior-y: none;
    -webkit-tap-highlight-color: transparent;
  }
}

@layer components {
  .ios-blur {
    @apply backdrop-blur-2xl;
    -webkit-backdrop-filter: blur(20px);
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
